<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <h1>学生档案</h1>
        <el-row :gutter="20">
            <el-col :span="4">
                <el-input v-model="infos.name" placeholder="请输入姓名"></el-input>
            </el-col>
            <el-col :span="4">
                <el-input v-model="infos.sex" placeholder="请输入性别"></el-input>
            </el-col>
            <el-col :span="4">
                <el-input v-model="infos.phone" placeholder="请输入电话号码"></el-input>
            </el-col>
            <el-col :span="4">
                <el-date-picker v-model="infos.birthday" type="date" placeholder="请选择出生日期" format="yyyy 年 MM 月 dd 日"  value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-col>
            <el-col :span="4">
                <el-button type="primary" v-on:click="addInfo">添加</el-button>
            </el-col>
        </el-row>
        <template>
            <el-table :data="tableData" style="width: 100%">
                <el-table-column type="index" width="50">
                </el-table-column>
                <el-table-column prop="name" label="姓名" width="180">
                </el-table-column>
                <el-table-column prop="sex" label="性别" width="180">
                </el-table-column>
                <el-table-column prop="phone" label="电话" width="180">
                </el-table-column>
                </el-table-column>
                <el-table-column  prop="birthday" label="出生日期" >
                </el-table-column>
            </el-table>
        </template>
    </div>


    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>